# Domain for Traefik to route traffic to Gophish
DOMAIN=yourdomain.com

# Email for Let's Encrypt certificate registration
EMAIL=youremail@example.com

# Port to expose Gophish Admin panel
GOPHISH_ADMIN_PORT=3333
